[package]
name = "fuel-core-metrics"
version = { workspace = true }
authors = { workspace = true }
categories = ["cryptography::cryptocurrencies"]
edition = { workspace = true }
homepage = { workspace = true }
keywords = ["blockchain", "cryptocurrencies", "fuel-vm", "vm"]
license = { workspace = true }
repository = { workspace = true }
description = "Fuel metrics"

[dependencies]
parking_lot = { workspace = true }
pin-project-lite = { workspace = true }
prometheus-client = { workspace = true }
regex = "1"
tracing = { workspace = true }

[dev-dependencies]
strum.workspace = true
strum_macros.workspace = true
tokio = { workspace = true, features = ["macros", "rt-multi-thread", "time"] }
