[package]
name = "fuel-p2p"
version = "0.9.3"
authors = ["Fuel Labs <contact@fuel.sh>"]
categories = ["cryptography::cryptocurrencies", "network-programming"]
edition = "2021"
homepage = "https://fuel.network/"
keywords = ["blockchain", "cryptocurrencies", "fuel-p2p", "networking"]
license = "BUSL-1.1"
repository = "https://github.com/FuelLabs/fuel-core"
description = "Fuel client networking"
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
async-trait = "0.1.52"
bincode = "1.3"
fuel-core-interfaces = { path = "../fuel-core-interfaces", features = ["serde"], version = "0.9.3" }
futures = "0.3"
futures-timer = "3.0"
ip_network = "0.4"
libp2p = { version = "0.43", default-features = false, features = [
    "dns-async-std", "gossipsub", "identify", "kad", "mdns", "mplex", "noise", 
    "ping", "request-response", "secp256k1", "tcp-async-io", "yamux", "websocket"
] }
rand = "0.8"
serde = { version = "1.0", features = ["derive"] }
sha2 = "0.9"
tokio = { version = "1.17", features = ["sync"] }
tracing = "0.1"

[dev-dependencies]
ctor = "0.1"
rand = "0.8"
tokio = { version = "1.17", features = ["full"] }
tracing-appender = "0.2"
tracing-attributes = "0.1"
tracing-subscriber = { version = "0.3", features = ["env-filter"] }
