[package]
name = "fuel-core-wasm-executor"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
keywords = ["blockchain", "fuel", "fuel-vm"]
license = { workspace = true }
repository = { workspace = true }
description = "Fuel Block WASM version of the Executor"

[[bin]]
name = "fuel-core-wasm-executor"
path = "src/main.rs"

[lib]
path = "src/lib.rs"

[dependencies]
anyhow = { workspace = true }
fuel-core-executor = { workspace = true, default-features = false, features = [
  "alloc",
] }
fuel-core-storage = { workspace = true, default-features = false, features = [
  "alloc",
] }
fuel-core-types = { workspace = true, default-features = false, features = [
  "alloc",
] }
fuel-core-types-v0 = { package = "fuel-core-types", version = "0.35.0", default-features = false, features = [
  "alloc",
  "serde",
], optional = true }
postcard = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true, default-features = false, features = ["alloc"] }

[dev-dependencies]
proptest = { workspace = true }

[features]
default = ["std"]
std = ["fuel-core-types-v0"]
smt = ["fuel-core-storage/smt", "fuel-core-executor/smt"]
