# Default code owners for fuel-core
* @xgreenx @Dentosal @MitchTurner @AurelienFT @rymnc

# Code owners for the gas price algorithm
crates/fuel-gas-price-algorithm @xgreenx @Dentosal @MitchTurner

# Code owners for the transaction pool
crates/services/txpool_v2 @xgreenx @Dentosal @MitchTurner @AurelienFT

# Code owners for the gas price service (v0 & v1)
crates/services/gas_price_service @xgreenx @Dentosal @MitchTurner @rymnc

# Code owners for the compression service
crates/services/compression @xgreenx @Dentosal @rymnc

# Code owners for the client
crates/client @xgreenx @Dentosal @MitchTurner

# Code owners for the integration tests
tests/ @xgreenx @Dentosal @MitchTurner

# Code owners for benches
benches/ @xgreenx @Dentosal @MitchTurner

# Code owners for docs
docs/ @xgreenx @Dentosal @MitchTurner

# Code owners for common files
CHANGELOG.md @FuelLabs/client
.changes/ @FuelLabs/client
Cargo.lock @FuelLabs/client
.github/CODEOWNERS @FuelLabs/client @FuelLabs/engineering-managers
