**/target
**/*.swp
.terraform
*.tfstate*
*.terraform.lock.hcl*
.vscode
.envrc
.direnv
.cov
lcov.info
version-compatibility/Cargo.lock
benches/benches-outputs/Cargo.lock
benches/benches-outputs/src/test_gas_costs_output.rs
.idea
.env
