[workspace]
# Use the new resolver to prevent dev-deps and build-deps from enabling debugging or test features in production.
members = [
  "benches",
  "bin/e2e-test-client",
  "bin/fuel-core",
  "bin/fuel-core-client",
  "bin/keygen",
  "crates/chain-config",
  "crates/client",
  "crates/database",
  "crates/fuel-core",
  "crates/metrics",
  "crates/services",
  "crates/services/consensus_module",
  "crates/services/consensus_module/bft",
  "crates/services/consensus_module/poa",
  "crates/services/executor",
  "crates/services/importer",
  "crates/services/p2p",
  "crates/services/producer",
  "crates/services/relayer",
  "crates/services/sync",
  "crates/services/txpool",
  "crates/storage",
  "crates/trace",
  "crates/types",
  "tests",
  "xtask",
]
resolver = "2"

exclude = ["version-compatibility"]

[profile.release]
codegen-units = 1
lto = "fat"
panic = "abort"

[workspace.package]
authors = ["Fuel Labs <contact@fuel.sh>"]
categories = ["concurrency", "cryptography::cryptocurrencies", "emulators"]
edition = "2021"
homepage = "https://fuel.network/"
keywords = ["blockchain", "cryptocurrencies", "fuel-vm", "vm"]
license = "BUSL-1.1"
repository = "https://github.com/FuelLabs/fuel-core"
version = "0.17.3"

[workspace.dependencies]
# Workspace members
fuel-core = { version = "0.17.3", path = "./crates/fuel-core", default-features = false }
fuel-core-client-bin = { version = "0.17.3", path = "./bin/client" }
fuel-core-bin = { version = "0.17.3", path = "./bin/fuel-core" }
fuel-core-keygen = { version = "0.17.3", path = "./bin/keygen" }
fuel-core-chain-config = { version = "0.17.3", path = "./crates/chain-config" }
fuel-core-client = { version = "0.17.3", path = "./crates/client" }
fuel-core-database = { version = "0.17.3", path = "./crates/database" }
fuel-core-metrics = { version = "0.17.3", path = "./crates/metrics" }
fuel-core-services = { version = "0.17.3", path = "./crates/services" }
fuel-core-consensus-module = { version = "0.17.3", path = "./crates/services/consensus_module" }
fuel-core-bft = { version = "0.17.3", path = "./crates/services/consensus_module/bft" }
fuel-core-poa = { version = "0.17.3", path = "./crates/services/consensus_module/poa" }
fuel-core-executor = { version = "0.17.3", path = "./crates/services/executor" }
fuel-core-importer = { version = "0.17.3", path = "./crates/services/importer" }
fuel-core-p2p = { version = "0.17.3", path = "./crates/services/p2p" }
fuel-core-producer = { version = "0.17.3", path = "./crates/services/producer" }
fuel-core-relayer = { version = "0.17.3", path = "./crates/services/relayer" }
fuel-core-sync = { version = "0.17.3", path = "./crates/services/sync" }
fuel-core-txpool = { version = "0.17.3", path = "./crates/services/txpool" }
fuel-core-storage = { version = "0.17.3", path = "./crates/storage" }
fuel-core-trace = { version = "0.17.3", path = "./crates/trace" }
fuel-core-types = { version = "0.17.3", path = "./crates/types", default-features = false }
fuel-core-tests = { version = "0.0.0", path = "./tests" }
fuel-core-xtask = { version = "0.0.0", path = "./xtask" }

# Fuel dependencies
fuel-vm-private = { version = "0.27", package = "fuel-vm" }

# Common dependencies
anyhow = "1.0"
async-trait = "0.1"
clap = "4.1"
rand = "0.8"
parking_lot = "0.12"
tokio = "1.0"
tokio-stream = "0.1"
tracing = "0.1"
thiserror = "1.0"
futures = "0.3"
postcard = "1.0"
tracing-attributes = "0.1"
tracing-subscriber = "0.3"
serde = "1.0"
serde_json = "1.0"
mockall = "0.11"
test-case = "2.2"
axum = "0.5"
lazy_static = "1.4"
once_cell = "1.16"
prometheus-client = "0.18"
itertools = "0.10"
insta = "1.8"
tempfile = "3.4"
