[package]
authors = { workspace = true }
categories = ["concurrency", "cryptography::cryptocurrencies", "emulators"]
description = "Fuel client binary."
edition = { workspace = true }
homepage = { workspace = true }
keywords = ["blockchain", "cryptocurrencies", "fuel-vm", "vm"]
license = { workspace = true }
repository = { workspace = true }
version = { workspace = true }
name = "fuel-core-bin"
publish = true

[[bin]]
name = "fuel-core"
path = "src/main.rs"

[dependencies]
anyhow = { workspace = true }
clap = { workspace = true, features = ["derive", "env"] }
const_format = { version = "0.2", optional = true }
dirs = "4.0"
dotenvy = { version = "0.15", optional = true }
fuel-core = { workspace = true }
fuel-core-chain-config = { workspace = true, default-features = true }
fuel-core-types = { workspace = true }
hex = "0.4"
humantime = "2.1"
lazy_static = { workspace = true }
pyroscope = "0.5"
pyroscope_pprofrs = "0.2"
serde_json = { workspace = true, features = ["raw_value"], optional = true }
tikv-jemallocator = { workspace = true }
tokio = { workspace = true, features = ["macros", "rt-multi-thread"] }
tracing = { workspace = true }
tracing-subscriber = { workspace = true, features = [
  "ansi",
  "env-filter",
  "json",
] }
url = { version = "2.2", optional = true }

[dev-dependencies]
test-case = { workspace = true }

[features]
default = ["env", "relayer", "rocksdb"]
env = ["dep:dotenvy"]
p2p = ["fuel-core/p2p", "const_format"]
relayer = ["fuel-core/relayer", "dep:url", "dep:serde_json"]
rocksdb = ["fuel-core/rocksdb"]
rocksdb-production = ["fuel-core/rocksdb-production"]
# features to enable in production, but increase build times
production = ["env", "relayer", "rocksdb-production", "p2p"]
