[package]
name = "fuel-core-interfaces"
version = "0.15.1"
authors = ["Fuel Labs <contact@fuel.sh>"]
categories = ["cryptography::cryptocurrencies"]
edition = "2021"
homepage = "https://fuel.network/"
keywords = ["blockchain", "cryptocurrencies", "fuel-vm", "vm"]
license = "BUSL-1.1"
repository = "https://github.com/FuelLabs/fuel-core"
description = "Fuel core interfaces"

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
derive_more = { version = "0.99" }
fuel-core-storage = { version = "0.15.1", path = "../storage" }
fuel-core-types = { version = "0.15.1", path = "../types" }
thiserror = "1.0"
tokio = { version = "1.21", features = ["full"] }
