[package]
name = "fuel-core-interfaces"
version = "0.9.3"
authors = ["Fuel Labs <contact@fuel.sh>"]
categories = ["cryptography::cryptocurrencies"]
edition = "2021"
homepage = "https://fuel.network/"
keywords = ["blockchain", "cryptocurrencies", "fuel-vm", "vm"]
license = "BUSL-1.1"
repository = "https://github.com/FuelLabs/fuel-core"
description = "Fuel core interfaces"

[dependencies]
anyhow = "1.0"
async-trait = "0.1"
chrono = { version = "0.4" }
derive_more = { version = "0.99" }
fuel-asm = "0.5"
fuel-crypto = { version = "0.5", default-features = false, features = [ "random" ]}
fuel-merkle = { version = "0.2" }
fuel-storage = "0.1"
fuel-tx = { version = "0.13", default-features = false }
fuel-types = { version = "0.5", default-features = false }
fuel-vm = { version = "0.12", default-features = false }
futures = "0.3"
lazy_static = "1.4"
parking_lot = "0.12"
serde = { version = "1.0", features = ["derive"], optional = true }
thiserror = "1.0"
tokio = { version = "1.14", features = ["full"] }

[features]
test-helpers = [
    "fuel-tx/internals", "fuel-tx/builder", "fuel-tx/random", "fuel-vm/random", "fuel-vm/test-helpers",
    "fuel-types/random"
]
serde = ["dep:serde", "fuel-vm/serde", "chrono/serde"]
debug = ["fuel-vm/debug"]
