[advisories]
ignore = [
    "RUSTSEC-2024-0421", # https://github.com/FuelLabs/fuel-core/issues/2488
    "RUSTSEC-2025-0009", # https://github.com/FuelLabs/fuel-core/issues/2814
    "RUSTSEC-2025-0118",  # https://github.com/FuelLabs/fuel-core/issues/3149
]