[package]
name = "fuel-core-block-aggregator-api"
description = "Block Aggregator API for Fuel Core"
version = { workspace = true }
authors = { workspace = true }
edition = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
repository = { workspace = true }
rust-version = { workspace = true }

[features]
fault-proving = ["fuel-core-types/fault-proving"]

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
aws-sdk-s3 = "1.111.0"
aws-smithy-mocks = "0.2.0"
bytes = { workspace = true, features = ["serde"] }
enum-iterator = { workspace = true }
fuel-core-protobuf = { workspace = true }
fuel-core-services = { workspace = true }
fuel-core-storage = { workspace = true, features = ["std"] }
fuel-core-types = { workspace = true, features = ["std"] }
futures = { workspace = true }
log = "0.4.27"
num_enum = { workspace = true }
postcard = { workspace = true }
prost = { workspace = true, features = ["derive"] }
rand = { workspace = true }
serde = { workspace = true, features = ["derive"] }
strum = { workspace = true }
strum_macros = { workspace = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tokio-stream = { workspace = true }
tonic = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
aws-sdk-s3 = { version = "1.111.0", features = ["test-util"] }
fuel-core-services = { workspace = true, features = ["test-helpers"] }
fuel-core-storage = { workspace = true, features = ["test-helpers"] }
fuel-core-types = { workspace = true, features = ["std", "test-helpers"] }
proptest = { workspace = true }
tokio-stream = { workspace = true }
tracing-subscriber = { workspace = true }
