[package]
authors = { workspace = true }
categories = ["cryptography::cryptocurrencies"]
description = "The primitives and types use by Fuel core protocol."
edition = { workspace = true }
homepage = { workspace = true }
keywords = [
  "blockchain",
  "cryptocurrencies",
  "fuel-client",
  "fuel-core",
  "fuel-types",
]
license = { workspace = true }
name = "fuel-core-types"
repository = { workspace = true }
version = { workspace = true }

[dependencies]
anyhow = { workspace = true }
bs58 = { version = "0.5", optional = true }
derivative = { workspace = true}
derive_more = { version = "0.99" }
fuel-vm-private = { workspace = true, default-features = false, features = [
  "alloc",
] }
rand = { workspace = true, optional = true }
secrecy = "0.8"
serde = { workspace = true, features = ["derive"], optional = true }
# We force the version because 4.1.0 update leap seconds that breaks our timestamps
tai64 = { version = "=4.0.0", features = ["serde"] }
zeroize = "1.5"

[features]
default = ["std"]
alloc = ["fuel-vm-private/alloc"]
serde = ["dep:serde", "fuel-vm-private/serde"]
da-compression = ["fuel-vm-private/da-compression"]
std = ["alloc", "fuel-vm-private/std", "bs58"]
random = ["dep:rand", "fuel-vm-private/random"]
test-helpers = ["random", "fuel-vm-private/test-helpers"]
