[package]
name = "fuel-core-chain-config"
version = { workspace = true }
authors = { workspace = true }
categories = ["cryptography::cryptocurrencies"]
edition = { workspace = true }
homepage = { workspace = true }
keywords = ["blockchain", "cryptocurrencies", "fuel-client"]
license = { workspace = true }
repository = { workspace = true }
description = "Fuel Chain config types"

[dependencies]
anyhow = { workspace = true }
bech32 = { version = "0.9.0", optional = true }
bincode = { version = "2.0.0-rc.3", features = ["serde"] }
fuel-core-storage = { workspace = true }
fuel-core-types = { workspace = true, default-features = false, features = [
  "serde",
] }
hex = { version = "0.4", features = ["serde"] }
itertools = { workspace = true, optional = true }
parquet = "48.0.0"
postcard = { version = "1.0", features = ["alloc"] }
rand = { workspace = true, optional = true }
serde = { workspace = true, features = ["derive", "rc"] }
serde_json = { version = "1.0", features = ["raw_value"], optional = true }
serde_with = "1.11"
tracing = { version = "0.1", optional = true }

[dev-dependencies]
fuel-core-types = { workspace = true, default-features = false, features = [
  "random",
  "serde",
] }
insta = { workspace = true }
pretty_assertions = "1.4.0"
rand = { workspace = true }
serde_json = { version = "1.0", features = ["raw_value"] }

[features]
default = ["std", "random"]
random = ["dep:rand", "fuel-core-types/random"]
std = [
  "dep:serde_json",
  "dep:tracing",
  "dep:bech32",
  "dep:itertools",
  "fuel-core-types/std",
  "anyhow/std",
]
