[package]
authors = { workspace = true }
description = "Fuel Core PoA Coordinator"
edition = { workspace = true }
homepage = { workspace = true }
keywords = ["blockchain", "consensus", "fuel"]
license = { workspace = true }
name = "fuel-core-poa"
repository = { workspace = true }
version = { workspace = true }

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
fuel-core-chain-config = { workspace = true }
fuel-core-services = { workspace = true }
fuel-core-storage = { workspace = true }
fuel-core-types = { workspace = true }
serde = { workspace = true , features = ["derive"] }
serde_json = { workspace = true }
tokio = { workspace = true, features = ["full"] }
tokio-stream = { workspace = true }
tracing = { workspace = true }

[dev-dependencies]
fuel-core-poa = { path = ".", features = ["test-helpers"] }
fuel-core-services = { workspace = true, features = ["test-helpers"] }
fuel-core-storage = { path = "./../../../storage", features = ["test-helpers"] }
fuel-core-types = { path = "./../../../types", features = ["test-helpers"] }
mockall = { workspace = true }
rand = { workspace = true }
test-case = { workspace = true }
tokio = { workspace = true, features = ["full", "test-util"] }

[features]
test-helpers = [
  "fuel-core-storage/test-helpers",
  "fuel-core-types/test-helpers",
]
